.languageselect {
  display: flex;
  flex-direction: column;
}
label {
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5em;
}
select {
  padding: 0.2em;
  
  text-transform: uppercase;
  font-weight: bold;
}


@media only screen and (min-width: 600px) and (orientation: landscape) {
  .languageselect {
    margin-left: auto;
    justify-self: auto;
  }
}
