@import '../../variables.scss';

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light_color;
  box-sizing: border-box;
  font-size: $normal;
}

.navmenu {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  text-indent: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: 80px;
  height: 0;
  transition: height 0.7s ease;
  background: $light_color;;
  overflow-x: hidden;
  overflow-y: auto;
}

.navmenu.active {
  border-bottom: 1px solid $dark_color;
  border-radius: 0 0 10px 10px;
  height: calc(100vh - 80px);
  transition: height 0.7s ease;
  padding-bottom: 2em;
}

.menuicon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 15px;
}

.fa-times {
  font-size: 2rem;
}

.logo {
  max-width: 35vw;
  height:auto;
  justify-self: start;
  margin-left: 15px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: auto;
    border-bottom: 1px solid $dark_color;;
    padding: 1em;
  }

  .navmenu {
    flex-direction: row;
    justify-content: space-around;
    min-width: 40vw;
    position: relative;
    top: auto;
    height: auto;
    width: auto;
    border: none;
  }

  .menuicon {
    display: none;
  }

  .logo {
    max-width: 15vw;
    margin-left: 25px;
  }

  .navbar a {display: flex;}
}
