@import '../../variables.scss';

.navlink {
  text-align: center;
  width: 100vw;
  display: table;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
  color: $dark_color;
  text-indent: 0;
  margin-left: 0;
}

.navlink:hover {
  background-color: $accent_color;
}

.navlink:active {
  background-color: $accent_color;
}

@media screen and (min-width: 960px) {
  
  .navlink:hover {background-color: transparent;}

  /* Underline styles 
  From: https://css-irl.info/animating-underlines/*/
  .navlink {
    width: auto;
    display: block;
    position: relative;
    padding: 0.5em 0.5em;
    transition: color 300ms;
  }

  .navlink:hover {
    color: $accent_color;
    transition: color 300ms;
  }

  /* Fade in, Scale from center */
  .navlink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: $accent_color;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
  }
  .navlink:hover::after,
  .navlink:focus::after {
    transform: scale(1);
  }
}
