@import '../variables.scss';

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: $secondary;
  box-sizing: border-box;
}

.navmenu {
  list-style: none;
  border-bottom: 1px solid black;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: 80px;
  height: 0;
  transition: height 0.7s ease;
  background: white;
  overflow-x: auto;
  overflow-x: hidden;
}

.navmenu.active {
  height: calc(100vh - 80px);
  transition: height 0.7s ease;
}

.menuicon {
  display: block;
  font-size: 1.8rem;
  cursor: pointer;
  margin: 20px 20px 0 0;
}

.fa-times {
  color: #fff;
  font-size: 2rem;
}

.logo {
  max-width: 15vw;
  justify-self: start;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .navbar {
    height: auto;
    border-bottom: 1px solid black;
    padding: 1em;
  }

  .navmenu {
    flex-direction: row;
    justify-content: space-around;
    min-width: 50vw;
    position: relative;
    top: auto;
    height: auto;
    width: auto;
    border: none;
  }

  .menuicon {
    display: none;
  }
}
