@import '../variables.scss';

.start {background-image: radial-gradient($secondary, $primary);}
button {border-radius:10px; border: 3px solid black; padding: 1em; background-color: gold; text-transform: uppercase;}

@media screen and (min-width: 960px) {
  
  
}
