@import '../variables.scss';

.start {background-image: radial-gradient($secondary, $primary); overflow:auto;}
button {border-radius:10px; border: 3px solid $cta; padding: 1em; color: $cta; text-transform: uppercase;}

@media screen and (min-width: 960px) {
  
  
}
