@import './variables.scss';
@import './typography.scss';

html{margin:0; padding:0;}

body { 
  background-color: $primary;
  margin:0; padding:0;
}

#root {min-height: 100vh; margin:0; padding:0; display: grid; grid-template-rows: auto 1fr;}

main {overflow: auto; padding: 40px; max-width: 900px; margin-left: auto; margin-right: auto;}


