@import './variables.scss';

h1 {font-family: 'Cutive Mono', monospace; 
    font-size: $large; font-weight: bold;
    line-height: $largest;
  }

h2 {font-family: 'Lato', sans-serif;
    font-size: $normal; font-weight: bold;
    line-height: $large;
  }

body {
  font-size: $normal;
    font-family: 'Lato', sans-serif;
    line-height: $large;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: $largest;
  }

h2 {
    font-size: $large;  
  }

body { 
    font-size: $normal;
}
}